@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --cor-principal: #080a07;
    --cor-secundaria: #181c52;
    --cor-destaque: #000000;
}

body {
    background: url("img/roxinho.jpeg");
    font-family: 'Chakra Petch', sans-serif;
    background-size: cover;
    color: #222;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    color: var(--cor-principal);
}

h1, h2, h5 {
    color: var(--cor-secundaria);
    font-weight: 700;
}

.lead, .btn-link {
    color: var(--cor-destaque);
    font-weight: 700;
}

a, .btn-link:hover {
    color: var(--cor-principal)
}

a:hover{
    color: var(--cor-destaque);
}

h2{

color: black;
}

h5{
    text-align: justify;
}


